@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-brand-primary: #44A9A8;
  --color-brand-secondary: #2B6968;
  --color-brand-accent: #FBB03B;
  --color-brand-orange: #FE871C;
  --color-brand-orange-secondary: #FE871C;
  --color-brand-dark: #120D0A;
  --color-brand-dark-border: #2F9BA0;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
